p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:gainsboro;
}
h2{
    color:darkslategray;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felix-mittermeier-956999.jpg&fm=jpg);
    border: solid 5px black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 48px;
    text-decoration: underline;
    color: lightgray;

}